<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Puntajes altos Letras
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Usuario</th>
              <th>Puntaje</th>
              <!--<th>Fecha</th>-->
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let puntaje of puntajesLetras">
                <td>{{puntaje.usuario}}</td>
                <td>{{puntaje.puntaje}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Puntajes altos Puntuacion
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Usuario</th>
              <th>Puntaje</th>
              <!--<th>Fecha</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let puntaje of puntajesPuntuacion">
              <td>{{puntaje.usuario}}</td>
              <td>{{puntaje.puntaje}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Puntajes altos Acentuacion
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Usuario</th>
              <th>Puntaje</th>
              <!--<th>Fecha</th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let puntaje of puntajesAcentuacion">
              <td>{{puntaje.usuario}}</td>
              <td>{{puntaje.puntaje}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
