<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-8">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Lección">
          <p>
            La coma (,) es un signo de puntuación que representa una pausa más breve que la del punto y se utiliza con frecuencia en toda clase de textos. Se emplea para separar los miembros de una enumeración o sucesión, ya sean palabras, frases y generalmente no se usa (salvo casos como lo mencionado líneas abajo) en aquellos que vengan precedidos por alguna de las conjunciones y, e, o, u .
          </p>
          <p>
            La coma se usa para separar y hacer pequeñas pausas en un texto, párrafo u oración, salvo los que vengan precedidos por alguna de las conjunciones y, e, o, u o ni. Por ejemplo: Tengo perros, gatos, conejos y pajaritos.
          </p>
        </tab>
        <tab heading="Preguntas">
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
