<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-8">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Lección">
          <!--<div [innerHTML]="content"></div>-->
          <h2>Acentuación</h2>
          <h3>1. Las palabras según su acento</h3>
          <p>Las palabras, en español, tienen una sílaba llamada tónica, que es la que, al pronunciarla, suena más
            fuerte. Las otras se llaman sílabas átonas, porque su intensidad de voz es menor que la tónica. En algunas
            ocasiones, la vocal de la sílaba tónica se marca mediante un signo ortográfico que se coloca en la parte
            superior de ésta (´). Este signo se denomina tilde o acento gráfico. Atendiendo a su sílaba tónica, las
            palabras, en español, pueden clasificarse en:</p>
          <p>AGUDAS:<br>
            Son aquellas palabras cuyo golpe de voz recae sobre la última sílaba.<br>
            <em><span style="color: #44878a;">ca<b>jón</b>, par<b>tir,</b> a<b>tril,</b> so<b>fá</b></span></em></p>
          <p>LLANAS O GRAVES:<br>
            Son palabras de más de una sílaba. El golpe de voz recae sobre la penúltima sílaba.<br>
            <em><span style="color: #44878a;">ár<b>bol</b>, ca<b>mi</b>sa, <b>si</b>lla, <b>lá</b>piz</span></em></p>
          <p>ESDRÚJULAS Y SOBREESDRÚJULAS:<br>
            Son aquellas palabras de más de dos sílabas. El golpe de voz recae sobre la antepenúltima sílaba
            (esdrújulas) o antes de la antepenúltima (sobreesdrújula).<br>
            cántaro, pájaro, íntimo, cándido, cámbiaselo<br>
            <em><span style="color: #44878a;"><b>cán</b>taro, <b>pá</b>jaro, <b>ín</b>timo,<b> cán</b>dido, <b>cám</b>biaselo</span></em>
          </p>
          <h3></h3>
          <h3>2. Reglas generales de acentuación gráfica (Empleo de la tilde)</h3>
          <p>Llevan acento ortográfico (o tilde [´])</p>
          <p>1ª Regla:</p>
          <p>Llevarán tilde las palabras agudas terminadas en vocal (a,e,i,o,u) y en las consonantes -n y -s.<br>
            <em><span style="color: #44878a;">A<b>nís</b> – pa<b>pá </b>– ca<b>jón</b> – sar<b>tén</b> – mani<b>quí</b> – ve<b>nís.</b></span></em>
          </p>
          <p>2ª Regla:<br>
            Llevarán tilde las palabras Ilanas que terminen en consonante, que no sea ni -n, ni -s.<br>
            <em><span style="color: #44878a;"><b>Ú</b>til – <b>lá</b>piz – <b>ál</b>bum – <b>al</b>cázar.</span></em>
          </p>
          <p>3ª Regla:<br>
            Llevarán tilde todas las palabras esdrújulas y sobreesdrújulas.<br>
            <em><span style="color: #44878a;"><b>Cán</b>dido – es<b>drú</b>jula – <b>cuén</b>taselo – cele<b>bé</b>rrimo.</span></em>
          </p>
          <h3>3. Reglas particulares de la acentuación gráfica</h3>
          <h5>La tilde diacrítica</h5>
          <p>Hay palabras que, atendiendo a las reglas generales de acentuación gráfica, no deberían llevar tilde. Sin
            embargo, algunas palabras admiten lo que se llama la tilde diacrítica, cuya función es la de evitar la
            confusión en la lengua escrita entre dos palabras que se escriben de la misma forma.</p>
          <table class="table table-striped">
            <tbody>
            <tr>
              <td>
                <p align="center"><b>NO LLEVA TILDE</b></p>
              </td>
              <td>
                <p align="center"><b>LLEVA TILDE DIACRÍTICA</b></p>
              </td>
            </tr>
            <tr>
              <td><b>El</b>&nbsp;(artículo)<br>
                <span style="color: #44878a;"><i>El sol reluce</i></span></td>
              <td><b>Él&nbsp;</b>(pronombre personal)<br>
                <span style="color: #44878a;"><i>Él sabe tocar la flauta</i></span></td>
            </tr>
            <tr>
              <td><b>De&nbsp;</b>(preposición)<br>
                <span style="color: #44878a;"><i>Iros de aquí.</i></span></td>
              <td><b>Dé</b>&nbsp;(verbo dar)<br>
                <span style="color: #44878a;"><i>Quiero que me dé esto.</i></span></td>
            </tr>
            <tr>
              <td><b>Se</b>&nbsp;(pronombre)<br>
                <span style="color: #44878a;"><i>Se acabó.</i></span></td>
              <td>&nbsp;<b>Sé</b>&nbsp;(verbo saber y verbo ser)<br>
                <span style="color: #44878a;"><i>Sé tú mismo;</i>&nbsp;<i>sé que lo harás.</i></span></td>
            </tr>
            <tr>
              <td><b>Tu – mi</b>&nbsp;(determinantes posesivos)<br>
                <span style="color: #44878a;"><i>Tu padre está ahí.&nbsp;</i></span><br>
                <span style="color: #44878a;"> <i>Mi juguete está estropeado</i></span></td>
              <td><b>Tú – mí</b>&nbsp;(pronombres personales)<br>
                <span style="color: #44878a;"><i>Tú no debes ir allí.&nbsp;</i></span><br>
                <span style="color: #44878a;"> <i>Eso es para mí</i>.</span></td>
            </tr>
            <tr>
              <td><b>Si&nbsp;</b>(condicional)<p></p>
                <p><span style="color: #44878a;"><i>Si no llueve, iré</i></span></p></td>
              <td><b>Sí</b>&nbsp;(afirmación y pronombre)<br>
                <span style="color: #44878a;"><i>Creo que sí que iré.&nbsp;</i></span><br>
                <span style="color: #44878a;"> <i>Lo tomó para sí.</i></span></td>
            </tr>
            <tr>
              <td><b>Mas</b>&nbsp;(conjunción)<br>
                <span style="color: #44878a;"><i>Le llamé, mas no contestó.</i></span></td>
              <td><b>Más</b>&nbsp;(adverbio)<br>
                <span style="color: #44878a;"><i>No quiero más</i>.</span></td>
            </tr>
            <tr>
              <td><b>Te</b>&nbsp;(pronombre)<br>
                <span style="color: #44878a;"><i>Te mandaré más trabajo.</i></span><i>&nbsp;</i></td>
              <td><b>Té</b>&nbsp;(sustantivo – infusión)<i>&nbsp;</i><br>
                <span style="color: #44878a;"><i>Tómate ya ese té.</i></span><i>&nbsp;</i></td>
            </tr>
            </tbody>
          </table>
          <h5>Acentuación de los diptongos y los triptongos</h5>
          <p>Los diptongos y triptongos llevarán tilde cuando sigan la regla general de acentuación. La tilde se
            colocará sobre la vocal abierta del diptongo o triptongo.<br>
            <em><span style="color: #44878a;">Reunión – exceptuéis – tráigamelo – efectuáis.</span></em></p>
          <h5>Acentuación de los hiatos</h5>
          <p>Cuando el hiato es el resultado de la destrucción de un diptongo, es decir, cuando hay dos vocales junta
            pertenecientes a sílabas diferentes, y una de ellas es una -i o una -u, se pondrá la tilde sobre la i o la
            u, aunque no siga la regla general.</p>
          <p><em><span style="color: #44878a;">Subían – oíamos – incluía – raíz</span></em></p>
          <h5>Acentuación de los exclamativos e interrogativos</h5>
          <p>Las palabras que, quien, cual, cuando, cuanto, donde y como llevarán tilde siempre que sean utilizados
            exclamativos y como interrogativos.<br>
            <em><span style="color: #44878a;">¿Cómo sabes todo eso? ¿Quién te lo ha dicho? ¡Qué vacaciones tan divertidas! ¿Cuántas botellas quedan?</span></em>
          </p>
          <h5>Acentuación de las palabras compuestas</h5>
          <ul>
            <li>Las palabras compuestas siguen las reglas generales de acentuación gráfica, como si se tratara de una
              palabra simple.
            </li>
          </ul>
          <p style="padding-left: 60px;"><em><span style="color: #44878a;"> decimoséptimo – ciempiés.</span></em></p>
          <ul>
            <li>Se exceptúan de esta regla los adverbios en<strong> -mente</strong>, como <em><span
              style="color: #44878a;">ágilmente, cortésmente</span></em>, QUE SÍ MANTIENEN EL ACENTO GRÁFICO de la
              palabra primitiva. Cuando la composición de la palabra sea mediante guión, las dos palabras simples
              mantendrán, si lo llevan como simples, su tilde.
            </li>
          </ul>
          <p style="padding-left: 60px;"><em><span style="color: #44878a;"> Físico-químico – hispano-francés</span></em>
          </p>
          <ul>
            <li><strong>Ojo</strong>: Hasta ahora, cuando uníamos a los verbos pronombres personales átonos, si el verbo
              llevaba tilde, se mantenía. <em><span style="color: #44878a;">acercó – acercóse</span></em>. Pues bien,
              ahora esto se ha modificado, y los verbos seguirán siempre las reglas generales de acentuación: <em><span
                style="color: #44878a;">acercó – acer<strong>co</strong>se</span></em>. (Sin tilde porque es llana
              acabada en vocal)
            </li>
          </ul>
          <ul>
            <li>Si el verbo no lleva tilde, cuando unimos los pronombres personales, sigue la regla general de
              acentuación como si se tratara de una palabra simple.
            </li>
          </ul>
          <p style="padding-left: 60px;"><em><span style="color: #44878a;"> di – díselo; dame – dámelo; cuenta – cuéntaselo.</span></em>
          </p>
          <h5>La tilde en las letras mayúsculas</h5>
          <p>Es necesario colocar la tilde en las letras mayúsculas cuando les corresponda por regla general.<br>
            <em><span style="color: #44878a;">Álvaro – Ávila – Álava</span></em>
          </p>

        </tab>
        <tab heading="Preguntas">

          <div *ngFor="let pregunta of preguntas">
            <label id="{{pregunta.id}}" [innerHTML] = "pregunta.pregunta"></label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="pregunta.seleccionada">
              <mat-radio-button *ngFor="let res of pregunta.respuestas" [value]="res">
                {{res}}
              </mat-radio-button>
            </mat-radio-group>
            <div><p> </p></div>
          </div>

          <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="enviarEvaluacion()">
            Enviar resultados
          </button>

        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Resultados</h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tu resultado fue de {{respuestasCorrectas}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
        <!--<button type="button" class="btn btn-success">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
