<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Acentuacion
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      La acentuación de las palabras en español permite determinar el énfasis fonético sobre una sílaba al pronunciar una palabra. Ortográficamente se representa mediante una tilde (´) y puede colocarse sobre las cinco vocales (á, é, í, ó, ú). Cada palabra puede llevar solo una tilde.
    </div>
  </div>
</div>
