<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Puntuacion
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <button type="button" class="btn btn-primary"
              popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
        Live demo
      </button>
    </div>
  </div>
</div>
