<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Diptongos
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      Un diptongo es una cadena sonora que consiste en la articulación de dos vocales, una a continuación de la otra, ​ sin interrupción y produciéndose una transición suave en las frecuencias sonoras que caracterizan los timbres de cada una de las dos vocales.
    </div>
  </div>
</div>
