<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Mayusculas
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <p>&nbsp;</p>
      <p>
        <span style="color:#008000;"><span style="font-size:16px;"><strong>1- Uso de la Mayúscula</strong></span></span></p>
      <p>
        Seguro que tienes dudas sobre cuando ocupar mayúsculas. Bien, ahora te entregamos una serie de indicaciones que te ayudarán a entender rápidamente sobre su uso.</p>
      <ul>
        <li>
          Se usa mayúscula al principio de un escrito.</li>
        <li>
          Después de punto y seguido, punto y aparte.</li>
        <li>
          Cuando escribimos nombres propios y los nombres dados a animales.</li>
        <li>
          Los nombres geográficos.</li>
        <li>
          Los atributos Divinos (Santo, Redentor, Monseñor, Pastor, etc.)</li>
        <li>
          Los sobrenombres.</li>
        <li>
          Los títulos de obras: "El Ingenioso Hidalgo Don Quijote de la Mancha."</li>
        <li>
          Los títulos de dignidades y autoridades (Secretaria, Gerente de Ventas, etc.)</li>
        <li>
          Los números romanos.</li>
        <li>
          Los nombres de Instituciones.</li>
        <li>
          Los nombres de las ciencias: Biología, Psicología, etc.</li>
        <li>
          Generalmente, después de dos puntos.</li>
      </ul>
      <p>
        &nbsp;</p>
      <p>
        <br>
        <span style="color:#008000;"><span style="font-size:16px;"><strong>2- Uso de Minúsculas</strong></span></span></p>
      <p>
        Se escribe con minúscula, a no ser que inicien escrito, etc.&nbsp;(considerando lo mencionado arriba):</p>
      <ul>
        <li>
          Los días de la semana</li>
        <li>
          Los meses del año (en fechas pueden ir con mayúscula)</li>
        <li>
          Las estaciones del año</li>
        <li>
          Los puntos cardinales (a menos que éstos se abrevien)</li>
      </ul>
      <p>
        <!-- google_ad_section_end(name=s2) --></p>
      <p>
        &nbsp;</p>
      <p>
        <br>
        <strong>3- Otros usos</strong></p>
      <p>
        Se usan las mayúsculas en los nombres propios:</p>
      <p style="text-align: center; ">
        Héctor -&nbsp;Lucía -&nbsp;Armando -&nbsp;Puerto Rico -&nbsp;García -&nbsp;Jorge -&nbsp;Río Piedras -&nbsp;Emilio</p>
      <p>
        <br>
        Y las minúsculas&nbsp;en los nombres comunes:</p>
      <p style="text-align: center; ">
        casa -&nbsp;disco -&nbsp;cuaderno -&nbsp;país -&nbsp;computadora -&nbsp;caja -&nbsp;mamá -&nbsp;escuela</p>
      <p style="margin-top: 0px; margin-bottom: 0px; ">
        &nbsp;</p>
      <p>
        Las oraciones comienzan con mayúscula y terminan con punto:</p>
      <p style="text-align: center; ">
        Los niños juegan en el patio.</p>
      <p>
        <br>
        <br>
        La mayoría de las veces usamos la letra mayúscula sólo al inicio de la palabra. Esto debe hacerse en los siguientes casos:</p>
      <p>
        <br>
        <strong>1.- Respetando los signos de puntuación</strong></p>
      <p>
        a) Siempre debe escribirse con letra mayúscula la primera palabra de un escrito y la que vaya después de un punto.</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;Hoy no iré a la escuela. Mañana sí.</p>
      <p>
        <br>
        b) La palabra que sigue a un signo de interrogación (¿) o de exclamación (¡), si no se interpone coma (,), punto y coma (;) o dos puntos (:)</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;¿dónde jugarás? En la casa.</p>
      <p>
        <br>
        c) En la escritura de cartas, se escribe con mayúscula, después de los dos puntos del encabezamiento de la misma.</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;Muy señor mío: Le agradeceré</p>
      <p>
        <br>
        d) Después de los dos puntos, siempre que se reproduzcan palabras textuales.</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;Mi mamá me dice siempre: "Debes estudiar todos los días a la misma hora"</p>
      <p>
        &nbsp;</p>
      <p>
        <strong>2.- Al inicio de algunas palabras dependiendo de su función o categoría.</strong></p>
      <p>
        <br>
        a) Nombres de persona o animal</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;María, José, Francisco, y Marcela son amigos.</p>
      <p style="text-align: center; ">
        "En la época de nuestros abuelos, Platero era muy famoso. Ahora los niños conocen más a Tulio Triviño, a Clarita, a Donald, a Winnie, a Simba o a Chita. Sin embargo, Rocinante es casi un desconocido. ¿Cuántos conocen el nombre de algunos de los caballos de El Libertador?"</p>
      <p>
        <br>
        b) Nombres geográficos. Se refiere a nombres de continentes, países, ciudades, montes, ríos, lagos, mares, océanos.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;América&nbsp;- Europa&nbsp;- Santiago&nbsp;- Arica</p>
      <p>
        <br>
        Nota: Cuando un artículo forme parte oficialmente del nombre propio, ambas palabras comenzarán con mayúscula.</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;El Salvador&nbsp;- La Habana&nbsp;- Los Ángeles - Las Condes</p>
      <p>
        <br>
        c) Apellidos&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;- García&nbsp;- Álvarez&nbsp;- Contreras</p>
      <p>
        <br>
        d) Nombres de constelaciones, estrellas, planetas o astros, estrictamente considerados como tales.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;"La Osa Mayor está conformada por siete estrellas: El Sol es el astro central de nuestro sistema, La Luna es la vecina más próxima a la Tierra".</p>
      <p>
        <br>
        Excepción: En el caso de la Luna y del Sol, por el contrario, si el nombre se refiere a los fenómenos sensibles de ellos derivados, se escribirá con minúscula:</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;"Tomar el sol", "Noches de luna llena"</p>
      <p>
        <br>
        En el caso de la Tierra, todos los usos referidos a ella en cuanto planeta aludido en su totalidad se escribirán también con minúscula.</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;&nbsp;"El avión tocó tierra con dificultad" -&nbsp;"La tierra de la zona andina es muy fértil"</p>
      <p>
        &nbsp;</p>
      <p>
        e) También se escriben con mayúsculas los signos del Zodíaco.</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Aries&nbsp;- Libra&nbsp;- Acuario</p>
      <p>
        <br>
        f) Se escriben con mayúsculas los nombres de los puntos cardinales, cuando nos referimos a ellos explícitamente.</p>
      <p style="text-align: center; ">
        Ejemplo:&nbsp;"La brújula señala el Norte"</p>
      <p>
        <br>
        Pero se escribirá con minúscula cuando el nombre se refiere a la orientación o dirección correspondiente a los puntos cardinales:</p>
      <p style="text-align: center; ">
        "Voy por la vida sin un norte claro. "Mi madre vive al sur de la ciudad"</p>
      <p>
        &nbsp;</p>
      <p>
        g) Nombre de festividades religiosas o civiles.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Pentecostés&nbsp;- Epifanía&nbsp;- Navidad&nbsp;- Año Nuevo</p>
      <p>
        &nbsp;</p>
      <p>
        h) Nombres de divinidades.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Dios&nbsp;- Alá&nbsp;- Apolo&nbsp;- Zeus</p>
      <p>
        &nbsp;</p>
      <p>
        i) Libros sagrados&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Biblia&nbsp;- Corán&nbsp;- Talmud</p>
      <p>
        <br>
        j) Atributos divinos o apelativos referidos a Dios, Jesucristo o la Virgen María.</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Todopoderoso&nbsp;- Cristo&nbsp;- Mesías</p>
      <h2>
        &nbsp;</h2>
      <p>
        <span style="color:#008000;"><span style="font-size:16px;"><strong>4- Tips</strong></span></span></p>
      <p>
        En función de las circunstancias, se escribirá con mayúscula:</p>
      <p>
        <br>
        a) Los sobrenombres o apodos con los que se designa a determinadas personas.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;el Libertador&nbsp;- el Sabio&nbsp;- el Inca Garcilaso</p>
      <p>
        &nbsp;</p>
      <p>
        b) Los sustantivos y adjetivos que componen el nombre de instituciones, entidades, organismos, partidos políticos, etc.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;la Biblioteca Nacional el Congreso Nacional&nbsp;- el Tribunal Supremo&nbsp;</p>
      <p>
        &nbsp;</p>
      <p>
        c) Los nombres de las disciplinas educativas.&nbsp;</p>
      <p style="text-align: center; ">
        Ejemplos:&nbsp;Soy maestro de Historia. Hemos estudiado Geografía</p>
      <p>
        &nbsp;</p>
      <p>
        <strong><span style="font-size:14px;">Los días de la semana</span></strong><br>
        La Real Academia Española señala que cuando no encabecen párrafo o escrito, o no formen parte de un título, se recomienda escribir con minúscula inicial los nombres de los dias de la semana, de los meses, de las estaciones del año y de las notas musicales.</p>
      <p>
        &nbsp;</p>
      <p>
        <strong><span style="font-size:14px;">El tilde en las mayúsculas</span></strong><br>
        La Real Academia Española recomienda que cuando se utilicen mayúsculas, se mantenga la tilde si la acentuación ortográfica lo exige, a fin de evitar errores de pronunciación o confusiones en la interpretación de vocablos. Este mantenimiento es especialmente necesario en las portadas de libros, nombres geográficos, listas de nombres propios, etc.</p>
      <p>
        &nbsp;</p>
      <p>
        <strong><span style="font-size:14px;">Números romanos</span></strong><br>
        La numeración romana se escribe hoy con letras mayúsculas, y se emplea para significar el número, con que se distinguen personas del mismo nombre, como Pío V, Fernando III, el número de cada siglo, como el actual, el XX de la era cristiana; también es frecuente para indicar el número de un tomo, libro, parte, canto, capítulo, título, ley, clase y otras divisiones, y el de las páginas en los prólogos y principios de un volumen.&nbsp;</p>
    </div>
  </div>
</div>
