<h2>Signos y reglas de puntuación</h2>
<p>Los signos ortográficos nos permiten indicar en la escritura la pronunciación de las
  palabras (tilde, diéresis), la entonación (exclamación, interrogación), las pausas de la frase (punto, coma,
  punto y coma…), etc. haciendo más fácil y ágil la lectura de los textos y, por tanto, su comprensión. Toda
  <a href="http://www.editorial-falsaria.com/correccion-ortotipografica/">corrección de textos</a>, pensada
  para<a title=" editar" href=" https://www.falsaria.com/autoedicion-de-libros/"> editar</a> o <a
    href="http://www.falsaria.com/autopublicacion-de-libros/">autoeditar un libro</a>&nbsp;debe
  contar con esta idea fundamental. Una redacción no es correcta si se usan inadecuadamente los signos
  ortográficos, y en especial los&nbsp;signos de puntuación.</p>
<p>En esta leccion te contamos, de forma resumida los signos ortográficos y las reglas de puntuación
  y acentuación en español, tal y como los recoge la Real Academia Española. Un buen repaso para
  aquellos <a title="escritores" href="http://blog.falsaria.com/tag/escritores/">estudiantes</a> que desean
  mejorar su ortorgafía y gramática y, de ese modo, mejorar su escritura. Recuerda que siempre debes tener a
  manos el diccionarios y para más comodidad puedes usar el la web de la real academia que es rápida y siempre
  está actualizada.</p>
<p>Aunque en español existe un gran número de reglas de puntuación, aquí sólo vamos a estudiar las más básicas
  y generales.</p>
<h3>1. El punto.</h3>
<p><b>a. </b>El punto y seguido: termina una frase con sentido completo y separa enunciados&nbsp;que integran
  un párrafo. Después de un punto y seguido se continúa escribiendo en la misma línea.</p>
<p><b>b. </b>El punto y aparte: separa dos párrafos distintos. Después de un punto y aparte, se&nbsp;escribe
  en una línea distinta. La primera línea del nuevo párrafo debe tener un margen mayor que el&nbsp;resto de
  las líneas que lo componen.</p>
<p><b>c. </b>El punto final: es el que cierra un texto.</p>
<p>Ej.:&nbsp;<em style="text-align: left;">El mar estaba embravecido aquel día. (punto y seguido) Los barcos
  bailaban sobre el agua sorteando las olas con dificultad. (punto y aparte) Miguel, sentado en el muelle,
  esperaba el regreso de su padre. (punto y seguido) Atisbaba el horizonte buscando ansioso su barco con la
  mirada. (punto final)</em></p>
<p><b>d. </b>Detrás de las abreviaturas:</p>
<p>Ej.: Sr., Sra., Exmo.&nbsp;<em style="text-align: left;">Se suele escribir también con las siglas (C.S.I.C.
  = Centro Superior de Investigaciones Científicas); aunque la tendencia actual es no ponerlo cuando las
  siglas no se forman con la primera letra de cada una de sus palabras (AVIACO).</em></p>

<h3>2. La coma ,</h3>
<p><b>a. </b>Separa las partes de una enumeración o serie dentro de una oración; incluidos miembros
  gramaticalmente equivalentes dentro de un mismo enunciado, a excepción de los casos en los que medie alguna
  de las conjunciones y, e, ni, o, u (sólo se pondrá coma delante de estas&nbsp;conjunciones para evitar
  confusiones):</p>
<p>Ej.: <em>Vimos elefantes, leones, tigres, jirafas…</em></p>
<p><em>Están ocupadas las habitaciones número 28, 55, 134 y 572. </em></p>
<p><em>Estaba preocupado por su familia, por su trabajo, por su salud. </em></p>
<p><em>Corre las cortinas, cierra las ventanas, apaga las luces y echa la llave.&nbsp;</em></p>

<p><b>b. </b>Cuando se cambia el orden regular de las partes de una oración, anteponiendo elementos que
  suelen ir pospuestos, se coloca una coma después del bloque anticipado:</p>
<p>Ej.: <em>Te compraré el caramelo si me dices la verdad.</em> (Orden regular, no escribimos coma)</p>
<p><em>Si me dices la verdad, te compraré el caramelo.</em> (Se antepone la condicional, escribimos coma)</p>
<p><em>Escríbenos una carta cuando llegues.</em> (Orden regular, no escribimos coma)</p>
<p><em>Cuando llegues, escríbenos una carta.</em> (Se ant epone la temporal,&nbsp;escribimos coma)</p>

<p><b>c. </b>Separa los incisos, las explicaciones que pueden aparecer en una oración:</p>
<p>Ej.: <em>Llegó Luis, el novio de Mónica, y nos invitó a todos a cenar.&nbsp;</em></p>
<p><em>Cervantes, quien es un gran <a title="escritor"
                                      href="http://blog.falsaria.com/tag/escritor/">escritor</a> español,
  vivió enValladolid.</em></p>
<p><em>Tiene sólo quince años, es decir, aún no es mayor de edad.</em></p>

<p><b>d. </b>Para indicar la omisión de un verbo:</p>
<p>Ej.: <em>Juan Manuel ha comprado la casa; Marta, los muebles.</em></p>
<p><em>Joaquín es policía nacional; Ana, graduada social.</em></p>

<h3>3. El punto y coma ;</h3>
<p><b>a. </b>Separa los elementos de una enumeración cuando se trata de expresiones complejas&nbsp;que
  incluyen comas o son demasiado extensos:</p>
<p>Ej.:<em> La chaqueta es azul; los pantalones, grises; la camisa, blanca; el&nbsp;abrigo, negro.</em></p>

<p><b>b. </b>Separa oraciones no unidas por preposiciones cuando en ellas se ha empleado la&nbsp;coma
  (también se podría optar por el punto y seguido):</p>
<p>Ej.: <em>La situación económica de la empresa, agravada en los últimos&nbsp;tiempos, era preocupante; se
  imponía una acción rápida y contundente&nbsp;</em><em>si se deseaba salvar los puestos de trabajo.</em></p>

<h3>4. Los dos puntos :</h3>
<p><b>a. </b>Preceden a una enumeración:</p>
<p>Ej.:<em> Tres son las provincias de Aragón: Huesca, Zaragoza y Teruel.</em></p>

<p><b>b. </b>Preceden a las citas textuales:</p>
<p>Ej.: <em>Las palabras del médico fueron: “Reposo y una alimentación&nbsp;equilibrada”.</em></p>

<p><b>c. </b>Detrás de las fórmulas de saludo en las cartas y documentos. La palabra que sigue a los dos
  puntos se escribe con mayúscula y en un englón aparte:</p>
<p>Ej.: <em>Querido amigo:</em></p>
<p><em>Te escribo para…</em></p>

<p><b>d. </b>Antes de la frase en la que se recogen las conclusiones, causas, consecuencias,
  etc.,&nbsp;o se resume lo expuesto con anterioridad:</p>
<p>Ej.:<em> Suspendieron todos los preparativos, anularon las invitaciones, se lo comunicaron a sus padres y a
  los amigos más cercanos: no se casarían ese año.</em></p>

<h3>5. Los puntos suspensivos …</h3>
<p><b>a. </b>Al final de enumeraciones o enunciados incompletos:</p>
<p><em>Ej.: Puedes hacer lo que te apetezca: leer, ver la t elevisión, escuchar&nbsp;música…</em></p>
<p><em>Fue todo muy desagradable… No quiero seguir hablando de ello</em></p>

<p><b>b. </b>Para expresar duda, temor, emoción, etc.:</p>
<p>Ej.: <em>Iré, no iré… Debo decidirme pronto.</em></p>

<p><b>c. </b>Se usan entr e corchetes para indicar la omisión de parte de un texto
  copiado&nbsp;literalmente:</p>
<p>Ej.: <em>Al salir el marido le dijo la falsa mujer a la buena esposa que, […],&nbsp;buscaría a algún hombre
  que supiera hacer algún encantamiento con&nbsp;</em><em>que su marido perdiera la mala voluntad que le
  estaba mostrando.</em></p>

<p><span
>6. Los signos de interrogación ¿ ? y exclamación ¡ !</span>
</p>
<p>Notad que en español hay dos, uno que inicia la frase (¡ ¿) y otro que la cierra (! ?):</p>
<p>Ej.:<em> ¿Comiste ayer en casa?</em></p>
<p><em>¡Qué magnífica pintura!</em></p>
<p><em>Si no responde al teléfono, ¿qué hacemos?</em></p>
<p>Estos signos pueden aparecer seguidos por coma, punto y coma o puntos suspensivos, pero&nbsp;nunca de punto
  y deben colocarse donde &nbsp;empiece la exclamación o la pregunta:</p>
<p>Ej.: <em>Pero tú, ¿cuántos años tienes tú?</em></p>

<h3>7. Los paréntesis ( )</h3>
<p><b>a. </b>Introducen aclaraciones:</p>
<p>Ej.: <em>El abuelo de Alberto (en su juventud fue un brillante cirujano) parecía&nbsp;una estatua sentado
  en aquel sillón.</em></p>
<p><em>El año de su nacimiento (1616) es el mismo en el que murió Cervantes.</em></p>
<h3>8. Los corchetes [ ]</h3>
<p><b>a. </b>Enmarcan los incisos dentro de un período que ya va entre paréntesis:</p>
<p>Ej.: <em>Una de las últimas novelas que publicó Benito Pérez Galdós (algunos&nbsp;</em><em>estudiosos
  consideran su obra Fortunata y Jacinta [1886-87] la mejor&nbsp;</em><em>novela española del siglo XIX) fue
  El caballero encantado (1909).</em></p>

<p><b>b. </b>Enmarcan los puntos suspensivos para indicar la omisión de parte de un
  texto&nbsp;copiado literalmente.</p>
<p>Ej.: <em>Le sonreí para decírselo; pero después pensé que él no pudo ver mi&nbsp;sonrisa […] por lo negra
  que estaba la noche.</em></p>

<h3>9. La raya —</h3>
<p><b>a. </b>Introduce aclaraciones (como el paréntesis):</p>
<p>Ej.: <em>Esperaba a Emilio —un gran amigo—. Lamentablemente, no vino.</em></p>

<p><b>b. </b>Señala cada una de las intervenciones en un diálogo:</p>
<p>Ej.: <em>—¿Deberíamos hablar con él? —preguntó Juan—. Es el único que no&nbsp;lo sabe.</em></p>
<p><em>—Sí —respondió la secretaria—, pero no podemos decirle toda la&nbsp;verdad.</em></p>

<h3>10. El guión –</h3>
<p><b>a. </b>Se utiliza cuando es necesario hacer divisiones dentro de una palabra o para unir&nbsp;dos
  números y no se escribe entre espacios en blanco:</p>
<p>Ej.: <em>luso-japonés, teórico-práctico&nbsp;</em></p>
<p><em>1936-37, 1567-1572</em></p>

<h3>11. Las comillas “ ” « »</h3>
<p><b>a. </b>Para reproducir citas textuales:</p>
<p>Ej.: <em>Sus palabras fueron: “Por favor, el pasaporte”.</em></p>

<p><b>b. </b>Para citar títulos de artículos, poemas, cuadros, lugares…</p>
<p>Ej.: <em>Nos leyó en voz alta el poema “Romance sonámbulo” de García&nbsp;Lorca.</em></p>

<h3>12. La diéresis ¨</h3>
<p><b>a. </b>Se sitúa sobre la vocal u en las combinaciones gue y gui para indicar que la vocal&nbsp;debe
  pronunciarse:</p>
<p>Ej.: <em>cigüeña, pingüino</em></p>

<p><b>b. </b>Se sitúa sobre la primera vocal de un diptongo en textos poéticos para indicar que&nbsp;tal
  diptongo no existe y que el verso cuenta con una sílaba más:</p>
<p>Ej.: <em>El dulce murmurar deste rüido</em></p>

<h3>13. El asterisco *</h3>
<p><b>a. </b>Como signo de llamada de nota al margen o a pie de página dentro de un texto; en&nbsp;ocasiones
  puede aparecer encerrado entre paréntesis:</p>
<p>Ej.: <em>La novela fue escrita por García Márquez* un año antes de que se le&nbsp;concediera el <a
  href="https://es.wikipedia.org/wiki/Anexo:Ganadores_del_Premio_Nobel_de_Literatura">Nobel de Literatura.</a></em>
</p>
<p></p>
