<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Silabas
      <div class="card-header-actions">
        <a href="https://valor-software.com/ngx-bootstrap/#/popover" target="_blank">
          <small className="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <ol>
        <li>
          <h3><span id="Que_son_las_silabas">¿Qué son las sílabas?</span></h3>
        </li>
      </ol>
      <p>Se llama sílabas a<strong> las unidades fonológicas en que se divide una palabra cualquiera</strong>, de acuerdo a la agrupación mínima de sus <a href="https://concepto.de/sonido/">sonidos</a> articulados, lo cual generalmente significa la unión de una vocal y una o varias consonantes. Dicho en términos más simples, se trata de los fragmentos sonoros en que podemos dividir una palabra, respetando la <a href="https://concepto.de/logica/">lógica</a> de su pronunciación.</p>
      <!-- WP QUADS Content Ad Plugin v. 1.8.7 -->
      <div class="quads-location quads-ad1" id="quads-ad1" style="float: none; margin: 10px; display: none !important;">
        <div id="div-gpt-ad-1407836083105-0">
        </div>
      </div>

      <!-- WP QUADS Content Ad Plugin v. 1.8.7 -->
      <div class="quads-location quads-ad3" id="quads-ad3" style="float: none; margin: 0px; display: none !important;">
        <div id="hw1"></div>
      </div>

      <p>Todas las palabras están compuestas por sílabas, desde las más largas hasta las que poseen una sola, y cada sílaba tiene también un núcleo, que en el español es siempre la vocal, dado que su sonido recibe un mayor énfasis en la pronunciación. Por ejemplo, <strong>en las sílabas “man-”, “-cha-” y “da”, la vocal a sería el núcleo de cada una</strong>. Atendiendo al número de sílabas de una palabra podemos clasificarlas en monosílabas (1), bisílabas (2), trisílabas (3), tetrasílabas (4) y polisílabas (5 o más).</p>
      <p>Asimismo, las sílabas pueden clasificarse de distintas maneras, algunas de las cuales detallaremos más adelante. Dicha distinción puede parecer escolar, pero <strong>en algunas lenguas es fundamental dada su naturaleza silábica, como el japonés</strong>: cada signo de su escritura no representa un sonido simple, como en el español, sino el sonido de una sílaba completa.</p>
      <p>Además, la correcta división silábica de una palabra nos permite interrumpirla cuando se nos agota el espacio de escritura en un renglón, continuándola debajo sin afectar la comprensión de la palabra.</p>
      <p>Ver además: <a href="https://concepto.de/rima/">Rima</a>.</p>
      <ol start="2">
        <li>
          <h3><span id="Silabas_tonicas_y_atonas">Sílabas tónicas y átonas</span></h3>
        </li>
      </ol>

      <p><strong>Dentro de una misma palabra, las sílabas se pronuncian con entonación muy diferente</strong>. Algunas reciben una entonación regular, semejante, mientras que una sola posee una entonación mayor, más intensa, convirtiéndose en el centro sonoro de la palabra. A esta última se la conoce como sílaba tónica: la sílaba sobre la cual recae el acento prosódico (no necesariamente el acento ortográfico, o sea, el escrito) y se pronuncia más fuertemente que el resto (llamadas entonces sílabas átonas).</p>
      <p>Por ejemplo, <strong>en la palabra “cayó” la sílaba tónica es la última</strong>, y está marcada además con un acento ortográfico. Pero en la palabra “cayo” la sílaba tónica es la primera y no lleva acento ortográfico. Se trata de dos palabras distintas con significados distintos, y dicha diferencia está marcada fonéticamente por la ubicación de la sílaba tónica. Ocurre lo mismo con “mamá” y “mama”, o con “súplica”, “suplico” y “suplicó”.</p>
      <p>Las sílabas tónicas se consideran, además, como el núcleo de la palabra, y dependiendo de su ubicación, podemos distinguir en español cuatro tipos de palabras:</p>
      <ul>
        <li><strong>Agudas.</strong>&nbsp;Aquellas cuya sílaba tónica corresponde a la última sílaba: “ca-pi-tán”.</li>
        <li><strong>Graves o llanas.</strong>&nbsp;Aquellas cuya sílaba tónica corresponde a la penúltima sílaba: “ca-re-ta”.</li>
        <li><strong>Esdrújulas.</strong>&nbsp;Aquellas cuya sílaba tónica corresponde a la antepenúltima sílaba: “có-mi-co”.</li>
        <li><strong>Sobresdrújulas.</strong>&nbsp;Aquellas cuya sílaba tónica se ubica en cualquier lugar antes de la penúltima sílaba: “á-gil-men-te”.</li>
      </ul>
      <ol start="3">
        <li>
          <h3><span id="Silabas_simples_y_compuestas">Sílabas simples y compuestas</span></h3>
        </li>
      </ol>
      <p>Dependiendo del número de letras involucradas en una misma sílaba, podremos conocer la complejidad o sencillez de su sonido conjunto, y clasificarlas de acuerdo a este criterio. Así, las sílabas sencillas, con sólo dos letras, una vocal y una consonante, <strong>serán sílabas simples: “ma-má”, “ta-za”, “bo-te”, “lo-mo”, “ca-sa”</strong>; mientras que las sílabas complejas, con más de dos letras en una misma emisión de voz, serán sílabas compuestas: “pas-tar”, “cro-tos”, “plan-cha”, “bru-jas”, “gra-tis”, “chis-te”.</p>
      <ol start="4">
        <li>
          <h3><span id="Silabas_libres_y_trabadas">Sílabas libres y trabadas</span></h3>
        </li>
      </ol>

      <p>También conocidas como sílabas abiertas y cerradas, <strong>se distinguen a partir de la presencia de una coda silábica</strong>. Así, las sílabas libres carecen de coda y las sílabas trabadas la presentan.</p>
      <p>Ahora bien, <strong>una coda silábica no es más que un tipo de terminación consonántico de la sílaba</strong>, dado que su núcleo generalmente debe ser una sílaba o un diptongo. Es decir: si la sílaba termina en una consonante, se considerará cerrada o trabada, como es el caso de “cor-”, “pa-”, “sen-”, “tris-”, “-tar”, “-bir“, etc., ya que dicha consonante constituye una coda silábica. Por el contrario, si la sílaba termina en vocal, carecerá de coda y se considerará abierta, como es el caso de “-to”, “-pá”, “-da”, “-te”, “re-”, “su-”, etc.</p>
      <ol start="5">
        <li>
          <h3><span id="Palabras_separadas_en_silabas">Palabras separadas en sílabas</span></h3>
        </li>
      </ol>
      <p>A continuación varios ejemplos de palabras separadas en sílabas (la sílaba tónica está subrayada):</p>
      <ul>
        <li><strong>Porotos.</strong> Po-ro-tos</li>
        <li><strong>Caparazón.</strong> Ca-pa-ra-zón</li>
        <li><strong>Bujía.</strong> Bu-jí-a</li>
        <li><strong>Sorpresa. </strong>Sor-pre-sa</li>
        <li><strong>Justicia.</strong> Jus-ti-cia</li>
        <li><strong>Motel.</strong> Mo-tel</li>
        <li><strong>Comadreja.</strong> Co-ma-dre-ja</li>
        <li><strong>Tul.</strong> Tul</li>
        <li><strong>Biorritmo.</strong> Bio-rrit-mo</li>
        <li><strong>Gigante.</strong> Gi-gan-te</li>
        <li><strong>Pozo.</strong> Po-zo</li>
        <li><strong>Desinteresado.</strong> De-sin-te-re-sa-do</li>
        <li><strong>Ejemplo.</strong> E-jem-plo</li>
        <li><strong>Rápidamente.</strong> Rá-pi-da-men-te</li>
        <li><strong>Trepidante.</strong> Tre-pi-dan-te</li>
        <li><strong>Monótonamente.</strong> Mo-nó-to-na-men-te</li>
        <li><strong>Servicio.</strong> Ser-vi-cio</li>
        <li><strong>Protagonizó.</strong> Pro-ta-go-ni-zó</li>
        <li><strong>Adversidad.</strong> Ad-ver-si-dad</li>
        <li><strong>Pequeño.</strong> Pe-que-ño</li>
        <li><strong>Holístico.</strong> Ho-lís-ti-co</li>
        <li><strong>Frecuencia.</strong> Fre-cuen-cia</li>
        <li><strong>Impertinente.</strong> Im-per-ti-nen-te</li>
        <li><strong>Compórtate.</strong> Com-pór-ta-te</li>
        <li><strong>Núcleos.</strong> Nú-cle-os</li>
        <li><strong>Xilófono.</strong> Xi-ló-fo-no</li>
        <li><strong>Dodecaedro.</strong> Do-de-ca-e-dro</li>
        <li><strong>Corrupción.</strong> Co-rrup-ción</li>
        <li><strong>Fulano.</strong> Fu-la-no</li>
        <li><strong>Pus.</strong> Pus</li>
        <li><strong>Obnubilado.</strong> Ob-nu-bi-la-do</li>
        <li><strong>Aldea.</strong> Al-de-a</li>
        <li><strong>Protuberancia.</strong> Pro-tu-be-ran-cia</li>
        <li><strong>Organización.</strong> Or-ga-ni-za-ción</li>
        <li><strong>Zapatos.</strong> Za-pa-tos</li>
        <li><strong>Barbudos.</strong> Bar-bu-dos</li>
        <li><strong>Fórmula.</strong> Fór-mu-la</li>
        <li><strong>León.</strong> Le-ón</li>
        <li><strong>Coz.</strong> Coz</li>
        <li><strong>Computadora.</strong> Com-pu-ta-do-ra</li>
        <li><strong>Fósforo.</strong> Fós-fo-ro</li>
        <li><strong>Resta.</strong> Res-ta</li>
        <li><strong>Inmigrante.</strong> In-mi-gran-te</li>
        <li><strong>Logaritmo.</strong> Lo-ga-rit-mo</li>
        <li><strong>Especuladores.</strong> Es-pe-cu-la-do-res</li>
        <li><strong>Risa.</strong> Ri-sa</li>
        <li><strong>Tosió.</strong> To-sió</li>
        <li><strong>Telefonía.</strong> Te-le-fo-ní-a</li>
        <li><strong>Dedos.</strong> De-dos</li>
        <li><strong>Capullo.</strong> Ca-pu-llo</li>
        <li><strong>Piedras.</strong> Pie-dras</li>
        <li><strong>Optimizado.</strong> Op-ti-mi-za-do</li>
        <li><strong>Números.</strong> Nú-me-ros</li>
        <li><strong>Garganta.</strong> Gar-gan-ta</li>
        <li><strong>Comisaría.</strong> Co-mi-sa-rí-a</li>
        <li><strong>Anormalidad.</strong> A-nor-ma-li-dad</li>
        <li><strong>Feo.</strong> Fe-o</li>
        <li><strong>Ahuecado.</strong> A-hue-ca-do</li>
        <li><strong>Desfallecer.</strong> Des-fa-lle-cer</li>
        <li><strong>Sopa.</strong> So-pa</li>
        <li><strong>Hilvanando.</strong> Hil-va-nan-do</li>
        <li><strong>Zurdo.</strong> Zur-do</li>
        <li><strong>Violín.</strong> Vio-lín</li>
        <li><strong>Brontosaurio.</strong> Bron-to-sau-rio</li>
        <li><strong>Asquerosidad.</strong> As-que-ro-si-dad</li>
        <li><strong>Nomenclatura.</strong> No-men-cla-tu-ra</li>
        <li><strong>Séptico.</strong> Sép-ti-co</li>
        <li><strong>Achicar.</strong> A-chi-car</li>
        <li><strong>Homosexual.</strong> Ho-mo-se-xual</li>
        <li><strong>Aburrimiento.</strong> A-bu-rri-mien-to</li>
        <li><strong>Tuétano.</strong> Tué-ta-no</li>
        <li><strong>Sahumerio.</strong> Sa-hu-me-rio</li>
        <li><strong>Abrasión.</strong> A-bra-sión</li>
        <li><strong>Grotesco.</strong> Gro-tes-co</li>
        <li><strong>Colegas.</strong> Co-le-gas</li>
        <li><strong>Épico.</strong> É-pi-co</li>
        <li><strong>Juveniles.</strong> Ju-ve-ni-les</li>
        <li><strong>Mágico.</strong> Má-gi-co</li>
        <li><strong>Patán.</strong> Pa-tán</li>
        <li><strong>Saborizada.</strong> Sa-bo-ri-za-da</li>
        <li><strong>Meteoritos.</strong> Me-te-o-ri-tos</li>
        <li><strong>Percepción.</strong> Per-cep-ción</li>
        <li><strong>Llantas.</strong> Llan-tas</li>
        <li><strong>Ergonómico.</strong> Er-go-nó-mi-co</li>
        <li><strong>Sílaba.</strong> Sí-la-ba</li>
        <li><strong>Sí.</strong> Sí</li>
        <li><strong>Expresidente.</strong> Ex-pre-si-den-te</li>
        <li><strong>Velocípedo.</strong> Ve-lo-cí-pe-do</li>
        <li><strong>Globalización.</strong> Glo-ba-li-za-ción</li>
        <li><strong>Lobotomía.</strong> Lo-bo-to-mí-a</li>
        <li><strong>Entereza.</strong> En-te-re-za</li>
        <li><strong>Déjamelo.</strong> Dé-ja-me-lo</li>
        <li><strong>Catapulta.</strong> Ca-ta-pul-ta</li>
        <li><strong>Apagó.</strong> A-pa-gó</li>
        <li><strong>Aplacar.</strong> A-pla-car</li>
        <li><strong>Sincretismo.</strong> Sin-cre-tis-mo</li>
        <li><strong>Integral.</strong> In-te-gral</li>
        <li><strong>Geodésico.</strong> Ge-o-dé-si-co</li>
        <li><strong>Consuetudinario.</strong> Con-sue-tu-di-na-rio</li>
        <li><strong>Anestesia.</strong> A-nes-te-sia</li>
        <li><strong>Émbolo.</strong> Ém-bo-lo</li>
        <li><strong>Cigarra.</strong> Ci-ga-rra</li>
        <li><strong>Molaridad.</strong> Mo-la-ri-dad</li>
        <li><strong>Éxito.</strong> É-xi-to</li>
        <li><strong>Insultaron.</strong> In-sul-ta-ron</li>
        <li><strong>Epistemológico.</strong> E-pis-te-mo-ló-gi-co</li>
        <li><strong>Comprobación.</strong> Com-pro-ba-ción</li>
        <li><strong>Lectura.</strong> Lec-tu-ra</li>
        <li><strong>Pan.</strong> Pan</li>
        <li><strong>Moraleja.</strong> Mo-ra-le-ja</li>
        <li><strong>Indómito.</strong> In-dó-mi-to</li>
        <li><strong>Desincorporación.</strong> Des-in-cor-po-ra-ción</li>
        <li><strong>Apaciblemente.</strong> A-pa-ci-ble-men-te</li>
        <li><strong>Frágil.</strong> Frá-gi</li>
      </ul>
    </div>
  </div>
</div>
