@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

// Variable overrides
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
    // Chrome < 56 for OS X (San Francisco)
  Rubik,
    // Windows
  "Rubik",
    // Android
  "Rubik",
    // Basic web fallback
  "Rubik", sans-serif,
    // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/*// Variable overrides
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  Indie Flower,
    // Chrome < 56 for OS X (San Francisco)
  Indie Flower,
    // Windows
  "Indie Flower",
    // Android
  "Indie Flower",
    // Basic web fallback
  "Indie Flower", sans-serif,
    // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;*/

/*// Variable overrides
$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
    // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
    // Windows
  "Cambria Math",
    // Android
  "Cambria Math",
    // Basic web fallback
  "Helvetica Neue", Arial, sans-serif,
    // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;*/
