<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12 mb-8">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Lección">

          <h2>Uso de B y V</h2>
          <p>
            La letra B (be) tiene el mismo sonido /b/ que la letra V (uve), lo que representa una dificultad para escribir correctamente en español.
          </p>
          <p>
            Además, hay palabras que se pronuncian igual pero al escribirlas con B o con V cambia totalmente su significado.
          </p>
          <ul>
            <li><b>Cabo</b> (lengua de tierra que penetra en el mar; empleo militar).</li>
            <li><b>Cavo</b> (del verbo cavar).</li>
          </ul>
          <ul>
            <li><b>Baca</b> (portaequipajes que se coloca sobre el techo del automóvil).</li>
            <li><b>Vaca</b> (hembra del toro).</li>
          </ul>
          <p>
            Por tanto, es muy importante conocer las Reglas Ortográficas de la B y también el significado de las palabras.
          </p>
          <h3>Se escriben con B</h3>
          <ul>
            <li>el sonido final -bir de los infinitivos y todas las formas de estos verbos (excepto hervir, servir y vivir y sus compuestos)</li>
            <li>los infinitivos y todas las formas de los verbos beber y deber</li>
            <li>los infinitivos y formas verbales de caber, haber y saber</li>
            <li>las terminaciones -ba, -bas, -bamos, -bais y -ban</li>
            <li>el pretérito imperfecto de indicativo del verbo ir</li>
            <li>los vocablos que empiezan con el sonido bibl- (biblioteca, Biblia, bibliografía, etc.) o con la sílaba bu-, bur- y bus- (burro, burla, buscar)</li>
            <li>las terminaciones -bundo, -bunda y -bilidad (excepto movilidad y civilidad): nauseabundo, furibunda, amabilidad; las palabras en las que dicho sonido precede a otra consonante: amable, brazo, abdicación, abnegación, obstruir, obtener, obvio. Esta regla incluye las sílabas bla, ble, bli, blo, blu y bra, bre, bri, bro, bru</li>
            <li>los prefijos bi-, bis-, biz-, que significan ‘dos’ o ‘dos veces’: bilingüe, bisiesto, biznieto</li>
            <li>los prefijos bien- y bene- (que significan ‘bien’): bienintencionado, beneplácito, benévolo, beneficio, y los compuestos y derivados de voces que llevan esta letra.</li>
          </ul>
          <h3>Se escriben con V</h3>
          <ul>
            <li>el presente de indicativo, de imperativo y de subjuntivo del verbo ir (voy, vas; ve, vaya; vaya, vayamos) y el pretérito indefinido, el pretérito imperfecto y el futuro de subjuntivo de los verbos estar, andar y tener y sus compuestos (estuve, estuviera, estuviere; anduve, anduviera, anduviese; tuve, tuviera, tuviese)</li>
            <li>las terminaciones de adjetivos -ava, -ave, -avo; -eva, -eve, -evo e -iva, -ivo: octava, suave, bravo, nueva, leve, decisivo (se exceptúan árabe, sílaba, que no es adjetivo, y sus compuestos: mozárabe, trisílaba, etc.)</li>
            <li>después de d: advertencia, advenedizo, adversario</li>
            <li>los prefijos vice-, villa-, villar-: vicealmirante, Villalobos, etc.</li>
            <li>las terminaciones -viro, -vira, -ívoro e -ívora (excepto víbora): Elvira, carnívoro, herbívora</li>
            <li>las terminaciones -servar y -versar de los verbos conservar, observar, reservar y conversar</li>
            <li>las formas de los verbos que no tienen ni v ni b en su infinitivo: tuve, estuve, anduvieron, vayamos (se exceptúan las terminaciones –ba, -bas, -bamos, -bais y -ban del pretérito imperfecto de indicativo)</li>
            <li>las palabras en las que este sonido aparece detrás de las letras b, d y n: obvio, adverso, invierno, y los compuestos y derivados de palabras que llevan esa letra: prevenir de venir, revuelta de vuelta, etc.</li>
          </ul>
          <h2>Uso de las letras C, S y Z</h2>
          <p>
            La letra C, a menudo se confunde con el sonido S, pero también con el fonema K. En esta ocasión, estudiaremos el primer caso.
            Si deseas información acerca del segundo uso, te recomendamos buscar en nuestra página: reglas de uso de C, K y Q.
          </p>
          <h3>Se escriben con C</h3>
          <ul>
            <li>Los verbos terminados en cir y ducir. Excepción: asir.</li>
            <li>Las palabras terminadas en ancia, ancio, encía. Excepciones: ansia, Hortensia.</li>
            <li>Las palabras terminadas en ción, afines a to, tor, dar.</li>
            <li>Los sufijos cida, cido, cidio.</li>
            <li>Las palabras terminadas en cimiento.</li>
            <li>Los verbos terminados en cer. Excepciones: toser, coser, ser.</li>
            <li>Los verbos terminados en ciar. Excepciones: lisiar, ansiar, extasiar, anestesiar.</li>
            <li>Las palabras terminadas en acia, icia, icie, icio. Excepciones: Dionisio, gimnasio, Asia, anastasia, alisio, eutanasia.</li>
            <li>Los verbos terminados en zar ante la vocal e cambian a c.</li>
          </ul>
          <h3>Se escriben con S</h3>
          <ul>
            <li>Las palabras que terminan en ense, referente a los gentilicios.</li>
            <li>Las terminaciones sivo, siva.</li>
            <li>Las palabras terminadas en sión, cuando proceden de palabras terminadas en so, sor, sivo.</li>
            <li>Las palabras terminadas en los superlativos isimo, isima.</li>
            <li>Las palabras terminadas en oso, osa.</li>
            <li>Las palabras terminadas en ismo.</li>
            <li>Las palabras terminadas en esca, esco.</li>
            <li>Las terminaciones esta, esto, ista.</li>
            <li>La terminación se de todos los verbos del pretérito imperfecto, del modo subjuntivo.</li>
            <li>Las terminaciones ersa, erse, erso.</li>
          </ul>
          <h3>Se escriben con Z</h3>
          <ul>
            <li>Las palabras terminadas en anza/o y azgo. Excepciones: gansa/o, mansa/o.</li>
            <li>Las terminaciones ez, eza, az, oz, de los nombres abstractos.</li>
            <li>Las terminaciones azo, aza que denotan aumento, golpe.</li>
            <li>Las terminaciones iz, ez, oz, az, de los nombres patronímicos.</li>
            <li>Las terminaciones zuela, zuelo, que denotan disminución o desprecio.</li>
            <li>Algunos verbos en infinitivo terminados en zar y sus conjugaciones delante de las vocales a, o.</li>
            <li>Las palabras terminadas en izo, iza.</li>
          </ul>
          <h2>Uso de la Q y K.</h2>
          <p>
            Las letras K y Q,  se confunden es su uso, cuando representan el sonido K. Por ejemplo,
            quiero y kilo, suenan como una K. Te presentamos las normas de uso de estas tres letras,
            para que puedas mejorar tus escritos y expresar tus ideas con una adecuada ortografía.
          </p>
          <h3>Uso de la Q</h3>
          <ul>
            <li>Se emplea agrupada con la u (muda) ante las vocales e, i: quedar, quirófano.</li>
            <li>Muchas palabras derivadas de otras que llevan c frente a la a, o, u, se escriben con q cuando debe sonar fuerte frente a la e o la i: atacar -> ataque, saco → saquito.</li>
            <li>Sólo se pronuncia la u en algunas palabras latinas: quórum, quid.</li>
          </ul>
          <h3>Uso de la K</h3>
          <ul>
            <li>Se usa sólo en palabras procedentes de otras lenguas en las que se ha intentado respetar la ortografía original: kamikaze, karate, karaoke, karma, kayak, kendo, ketchup, kit, kitsch, kiwi, koala, kung-fu, búnker, taekwondo.</li>
            <li>En la raíz:  kilo- = ‘mil’ → kilogramo, kilómetro, kilovatio, kilobytes.</li>
            <li>Algunas palabras se pueden escribir con k, con c o con q: biquini - bikini, caqui - kaki, kermés - quermés, quimono - kimono, quiosco - kiosco, curdo - kurdo, vodka - vodca</li>
          </ul>
          <h2>Uso de la G y J.</h2>
          <p>
            Tanto el uso de la g, como el de la j, no ofrece dificultad cuando precede a
            las vocales a, o y u. Las dudas surgen cuandoel sonido g/j precede a e o a i.
          </p>
          <h3>Uso de la G:</h3>
          <ul>
            <li>el prefijo geo- de las palabras compuestas: geografía, geometría, geología, etc.; </li>
            <li>la terminación -gen de los nombres: origen, margen, aborigen, etc.;</li>
            <li>las terminaciones -gélico, -genario, -géneo, -génico, -genio, -génito, -gesimal, -gésimo, -gético y sus femeninos y plurales: angélico, sexagenario, homogéneo, fotogénico, ingenio, primogénito, cuadragesimal, vigésimo, apologético;</li>
            <li>las terminaciones -gia, -gio, -gión, -gional, -gionario, -gioso y -gírico: magia, regio, religión, regional, legionario, prodigioso, panegírico, etc.;</li>
            <li>las terminaciones -ger y -gir de los infinitivos: proteger, escoger, recoger, fingir, corregir, dirigir, etc. Menos tejer, crujir y sus derivados.</li>
            <li>Los tiempos de los verbos que llevan esta letra en el infinitivo.</li>
          </ul>
          <p>
            Además, es preciso recordar que la g con la e y la i tiene sonido gutural fuerte (como en gente o en gigante);
            para representar ese mismo sonido suave, se coloca una u muda entre la g y la e o
            la i: guerra, guiso…; cuando esa u intermedia suena,
            se escribe con diéresis, como en pingüino.
          </p>
          <h3>Se escriben con J:</h3>
          <ul>
            <li>la terminación -jería: conserjería, cerrajería, etc.;</li>
            <li>los tiempos de los verbos cuyo infinitivo lleva esa letra: cruje de crujir o trabaja de trabajar;</li>
            <li>las palabras derivadas de otras que llevan j: cajita de caja o herejía de hereje;</li>
            <li>las formas verbales con sonido je, ji, si los infinitivos correspondientes no llevan ni g ni j: distrajimos de distraer, dedujimos de deducir, dijimos de decir, etc.</li>
          </ul>
          <h2>Uso de la H.</h2>
          <ul>
            <li>Los prefijos hidra-, hidro-, hiper- e hipo-: hidráulico, hidrógeno, hipérbole, hipócrita;</li>
            <li>Todas las palabras que empiezan por el diptongo ue: hueco, huelga, huella, huérfano, huerto; </li>
            <li>Los prefijos hecto-, hepta-, hexa- y hemi- de las palabras compuestas: hectómetro, heptasílabo, hexágono, hemiciclo;</li>
            <li>Los compuestos y derivados de palabras que tienen h, excepto los derivados de hueso, huevo, hueco y huérfano: escribimos huelguista, pero óseo, óvulo, oquedad y orfandad;</li>
            <li>Todas las formas de los verbos cuyo infinitivo lleva h: hubo, habla, honra, hurtaron.</li>
            <li>Palabras homófonas recogemos en esta tabla algunos pares de palabras homófonas en las que está implicada la letra h. Los términos homófonos son aquellos que suenan igual, pero tienen distinto significado y pueden tener distinta grafía.</li>
          </ul>
        </tab>
        <tab heading="Preguntas">

          <div *ngFor="let pregunta of preguntas">
            <label id="{{pregunta.id}}" [innerHTML] = "pregunta.pregunta"></label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="pregunta.seleccionada">
              <mat-radio-button class="example-radio-button" *ngFor="let res of pregunta.respuestas" [value]="res">
                {{res}}
              </mat-radio-button>
            </mat-radio-group>
            <div><p> </p></div>
          </div>

          <button type="button" class="btn btn-success mr-1" data-toggle="modal" (click)="enviarEvaluacion()">
            Enviar resultados
          </button>

        </tab>
      </tabset>
    </div><!--/.col-->
  </div><!--/.row-->
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Resultados</h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Tu resultado fue de {{respuestasCorrectas}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Cerrar</button>
        <!--<button type="button" class="btn btn-success">Save changes</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
